@charset "UTF-8";
/* ================================= FONTS ================================= */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@media (max-width: 767px) {
  .h1 {
    font-size: calc(28px + 34 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h1 {
    font-size: calc(28px + 20 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h2 {
    font-size: calc(24px + 18.7 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h2 {
    font-size: calc(24px + 11 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(24px + 6.8 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h3 {
    font-size: calc(24px + 4 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h4 {
    font-size: calc(21px + 5.1 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h4 {
    font-size: calc(21px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h5 {
    font-size: calc(18px + 5.1 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h5 {
    font-size: calc(18px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h6 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h6 {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .f-large {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .f-large {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .f-middle {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .f-middle {
    font-size: calc(14px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .f-small {
    font-size: calc(12px + 0 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .f-small {
    font-size: calc(12px + 0 * (100vw / 1980));
  }
}

/* ================================= VARIABLES ================================= */
@media (max-width: 767px) {
  .h1 {
    font-size: calc(28px + 34 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h1 {
    font-size: calc(28px + 20 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h2 {
    font-size: calc(24px + 18.7 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h2 {
    font-size: calc(24px + 11 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(24px + 6.8 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h3 {
    font-size: calc(24px + 4 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h4 {
    font-size: calc(21px + 5.1 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h4 {
    font-size: calc(21px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h5 {
    font-size: calc(18px + 5.1 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h5 {
    font-size: calc(18px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h6 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .h6 {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .f-large {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .f-large {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .f-middle {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .f-middle {
    font-size: calc(14px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .f-small {
    font-size: calc(12px + 0 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .f-small {
    font-size: calc(12px + 0 * (100vw / 1980));
  }
}

.gray {
  color: #909090;
}

.black {
  color: #131313;
}

.white {
  color: #fff;
}

.sl {
  outline: none !important;
}

.sl-overlay {
  background: #131313;
  opacity: 0.8;
}

.sl-wrapper {
  outline: none !important;
}

.sl-wrapper .sl-counter,
.sl-wrapper .sl-close {
  top: 5%;
  font-family: "Inter", sans-serif;
  font-size: 64px;
  color: #D30000;
}

.sl-wrapper .sl-navigation button {
  color: #D30000;
}

.content-page > * {
  line-height: 1.7;
  font-weight: 300;
}

.content-page h1, .content-page h2, .content-page h3, .content-page h4, .content-page h5, .content-page h6 {
  color: #131313;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .content-page h1 {
    font-size: calc(36px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page h1 {
    font-size: calc(36px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .content-page h2 {
    font-size: calc(28px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page h2 {
    font-size: calc(28px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .content-page h3 {
    font-size: calc(24px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page h3 {
    font-size: calc(24px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .content-page h4 {
    font-size: calc(20px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page h4 {
    font-size: calc(20px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .content-page h5 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page h5 {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .content-page h6 {
    font-size: calc(15px + 1.7 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page h6 {
    font-size: calc(15px + 1 * (100vw / 1980));
  }
}

.content-page p {
  color: #909090;
  font-family: "Inter", sans-serif;
}

@media (max-width: 767px) {
  .content-page p {
    font-size: calc(12px + 6.8 * ((100vw - 320px) / 1980));
  }
}

@media (min-width: 767px) {
  .content-page p {
    font-size: calc(12px + 4 * (100vw / 1980));
  }
}

.content-page strong {
  font-weight: bold;
}

.content-page em {
  font-style: italic;
}

.content-page ul, .content-page ol {
  list-style-position: inside;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  color: #909090;
  font-family: "Inter", sans-serif;
}

.content-page ul li, .content-page ol li {
  margin-bottom: 5px;
  padding-left: 5px;
}

.content-page ol {
  list-style: decimal;
}

.content-page ol li::marker {
  color: #fff;
  font-weight: bold;
}

.content-page ul {
  list-style: disc;
}

.content-page ul li::marker {
  content: "—";
  color: #fff;
}

.content-page a {
  color: #909090;
  border-bottom: 1px solid #D30000;
}

.content-page pre {
  color: #909090;
}

.gutenberg,
.description__body {
  font-family: "Inter", sans-serif;
}

.description__body h1,
.description__body h2,
.description__body h3,
.description__body h4,
.description__body h5,
.description__body h6 {
  color: #fff;
  line-height: 2.15;
}

.description__body p {
  line-height: 2.15;
}

.description__body .wp-block-image {
  height: 100%;
}

.description__body figure img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.description__body iframe {
  width: 100%;
}

.description__body .wp-block-embed-youtube iframe {
  min-height: 400px;
}

.description__body ul, .description__body ol {
  list-style-position: inside;
  -webkit-padding-start: 40px;
          padding-inline-start: 40px;
  color: #909090;
  font-family: "Inter", sans-serif;
}

.description__body ul li, .description__body ol li {
  padding-left: 5px;
  margin-bottom: 5px;
}

.description__body ol {
  list-style: decimal;
}

.description__body ol li::marker {
  color: #fff;
  font-weight: bold;
}

.description__body ul {
  list-style: disc;
}

.description__body ul li::marker {
  content: "—";
  color: #fff;
}

.wp-block-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.wp-block-columns img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wp-block-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 20px;
}

@media (max-width: 764px) {
  .wp-block-columns.has-3-columns {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  .has-3-columns .wp-block-column:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 478px) {
  .wp-block-columns.has-3-columns {
    display: block;
  }
  .wp-block-column {
    margin: 20px 0;
  }
}

/* ================================= INCLUDE ================================= */
a {
  text-decoration: none;
}

.btn {
  padding: 20px 50px;
  background-color: #131313;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #fff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #131313 !important;
}

#svg-vivus {
  fill-opacity: 0;
}

.svg-vivus-end {
  fill-opacity: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  fill: #fff;
}

.img-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #131313;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  -webkit-transition: 5s;
  transition: 5s;
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  -webkit-transition: 5s;
  transition: 5s;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hover-logo {
  position: absolute;
  opacity: 0;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes float-text {
  0% {
    left: -20%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -20%;
  }
}

@keyframes float-text {
  0% {
    left: -20%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -20%;
  }
}

@-webkit-keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9) rotateX(-60deg);
            transform: scale(0.9) rotateX(-60deg);
  }
}

@-webkit-keyframes opacityLogo {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityLogo {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  font-family: "Inter", sans-serif;
}

button {
  outline: 0;
}

.page {
  background-color: #fff;
  overflow-x: hidden;
  padding: 0 25px;
}

a:hover {
  color: #D30000;
}

/* ================================= HEADER ================================= */
.header {
  height: 75px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  grid-area: header;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 12;
}

.header__menu {
  margin-right: 20px;
  text-transform: uppercase;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu__li:last-child .menu__link {
  margin: 0;
}

.header .menu__link {
  display: inline-block;
  position: relative;
  font-weight: 300;
  margin-right: 25px;
  letter-spacing: 0.5px;
  color: #909090;
}

.header .menu__link:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #131313;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s, -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  color: #131313;
}

.header .menu__link:hover {
  color: #131313;
}

.header .menu__link:hover:before {
  -webkit-transform-origin: 0;
          transform-origin: 0;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
  transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s, -webkit-transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s;
}

.header__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-network {
  position: absolute;
  right: 0;
  top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  background-color: #1A1A1A;
  border-radius: 5px;
  margin-right: 15px;
}

.social-network a {
  padding: 15px 20px;
  text-align: center;
}

.social-network_active {
  right: -5%;
}

/* ================================= LOGO ================================= */
.logo__strong {
  margin-bottom: 5px;
  display: block;
}

/* ================================= MENU ================================= */
/* ================================= MAIN ================================= */
.main {
  display: -ms-grid;
  display: grid;
  grid-area: main;
  grid-row-gap: 40px;
  margin-bottom: 40px;
}

.main-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.main-section__video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  display: block;
  height: 65vh;
}

.main-section__video:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-section__logo {
  position: relative;
  z-index: 2;
  width: 50%;
  height: 50%;
  -webkit-animation: opacityLogo;
          animation: opacityLogo;
  -webkit-animation: 2s linear 1s infinite opacityLogo;
          animation: 2s linear 1s infinite opacityLogo;
}

/* ================================= SECTION-HEADER ================================= */
.section-header {
  padding: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  place-items: end;
  margin-bottom: 20px;
}

.section-header__title {
  color: #131313;
  -ms-grid-column-align: start;
      justify-self: start;
  text-transform: uppercase;
}

.section-header__link {
  -ms-grid-column-align: end;
      justify-self: end;
  padding-bottom: 2px;
}

.projects__wrap {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 50vh;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.projects__article {
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  overflow: hidden;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.projects__article::after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  content: '';
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
}

.projects__article:hover {
  -webkit-transition: .2s;
  transition: .2s;
}

.projects__article:hover .projects__article-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.projects__article:hover .projects__article-span {
  opacity: 1;
}

.projects__article:hover::after {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.5);
}

.projects__article-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects__article-span {
  position: absolute;
  opacity: 0;
  color: #fff;
  font-size: 24px;
  z-index: 2;
  top: 50%;
  left: 48%;
  letter-spacing: 3px;
}

.about__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 1fr;
      grid-template-columns: 0.6fr 1fr;
  min-height: 50vh;
  grid-column-gap: 20px;
}

.about__left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.instagram {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  grid-gap: 10px;
}

.instagram img {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts {
  display: -ms-grid;
  display: grid;
}

.contacts__left {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__img {
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  grid-row-gap: 20px;
  width: 580px;
}

.form__input, .form__textarea {
  border: none;
  border-bottom: 1px solid #909090;
  padding: 10px;
  outline: 0;
}

.form__input::-webkit-input-placeholder, .form__textarea::-webkit-input-placeholder {
  color: #909090;
  font-family: "Inter", sans-serif;
}

.form__input:-ms-input-placeholder, .form__textarea:-ms-input-placeholder {
  color: #909090;
  font-family: "Inter", sans-serif;
}

.form__input::-ms-input-placeholder, .form__textarea::-ms-input-placeholder {
  color: #909090;
  font-family: "Inter", sans-serif;
}

.form__input::placeholder, .form__textarea::placeholder {
  color: #909090;
  font-family: "Inter", sans-serif;
}

.form__input:focus, .form__textarea:focus {
  outline: 1px solid #131313;
  border-bottom: 1px solid transparent;
}

.form__button {
  border: 1px solid #131313;
  background-color: #fff;
  padding: 15px;
  cursor: pointer;
  width: 100%;
}

.form__button:hover {
  background-color: #131313;
  color: #fff;
}

/* ================================= FOOTER ================================= */
.footer {
  grid-area: footer;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.footer__box {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 10px;
}

.footer__list-link {
  padding: 5px 0;
  display: block;
  font-size: 12px;
}

.footer__menu {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 5px;
}

.footer__menu a:hover {
  color: #D30000;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
}

.footer__logo .logo__strong {
  margin-right: 10px;
}

.footer__logo .logo__span {
  font-size: 8px;
}

.network__link {
  color: #131313;
  padding-right: 10px;
}

.network__link:hover {
  color: #909090;
}

.preloader {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
  top: 0;
  position: fixed;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 99;
}

.preloader__title {
  position: absolute;
  top: 50%;
  left: 45%;
  opacity: 0;
  font-size: 18;
  letter-spacing: 5px;
  font-weight: 100;
}

.preloader__text {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 64px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 100;
  color: #131313;
}

.burger {
  display: none;
  z-index: 11;
  width: 25px;
  cursor: pointer;
  z-index: 1;
}

.burger__span {
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 1px;
  background-color: #131313;
  cursor: pointer;
  margin-bottom: 8px;
}

.burger__span:last-child {
  margin: 0;
}

.burger_active span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

.burger_active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger_active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -1px;
}

.burger-network {
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.burger-network:hover {
  color: #D30000;
}

.burger-network_active {
  color: #D30000;
}

@media (max-width: 1280px) {
  .main-section__video {
    height: 50vh;
  }
  .projects__wrap {
    grid-auto-rows: 30vh;
  }
  .projects__article {
    grid-column: inherit !important;
    grid-row: inherit !important;
  }
  .about__wrap {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 1024px) {
  .burger {
    display: block;
    margin-left: auto;
  }
  .header__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header__menu {
    background-color: #fff;
    margin: 0;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    height: 30%;
    left: 0;
    right: 0;
    top: -100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__menu_active {
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__description {
    padding-left: 10px;
    font-size: 10px;
  }
  .header .custom-logo-link img {
    width: 47px;
    height: 40px;
  }
  .menu__li {
    padding: 10px 0;
  }
  .menu__link {
    margin: 0 !important;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .projects__wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .grid-fluid, .grid {
    width: inherit;
  }
  .preloader {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .preloader__logo {
    position: static;
    width: 35%;
    height: 35%;
  }
  .instagram {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .form {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .instagram {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */