:root {
  --color-primary: #282828;
  --color-secondary: #333131;
  --color-accent: #fff;
  --color-grey: rgba(0,0,0,0.4);

  --font-h1: 64px;
  --font-h2: 40px;
  --font-l: 25px;
  --font-m: 18px;
  --font-sm: 16px;
  --font-s: 14px;

  --indent-section: 128px;
  --indent-title: 40px;
}

@media screen and (max-width: 1280px) {
  :root {
    --font-h1: 48px;
    --font-h2: 24px;
    --font-l: 21px;
    --font-m: 16px;
    --font-sm: 14px;
    --font-s: 12px;
  
    --indent-section: 68px;
    --indent-title: 21px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --font-h1: 32px;
    --font-h2: 21px;
    --font-l: 18px;
    --font-m: 16px;
    --font-sm: 14px;
    --font-s: 12px;
  
    --indent-section: 32px;
    --indent-title: 21px;
  }
}