/* ================================= DOCUMENTATION ================================= */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: StretchPro;
  src: url(../fonts/StretchPro.otf);
}
@media (max-width: 767px) {
  .h1 {
    font-size: calc(28px + 98.6 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h1 {
    font-size: calc(28px + 58 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h2 {
    font-size: calc(24px + 30.6 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h2 {
    font-size: calc(24px + 18 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(24px + 1.7 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h3 {
    font-size: calc(24px + 1 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h4 {
    font-size: calc(21px + 5.1 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h4 {
    font-size: calc(21px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h5 {
    font-size: calc(18px + 5.1 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h5 {
    font-size: calc(18px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h6 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h6 {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs64 {
    font-size: calc(25px + 66.3 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs64 {
    font-size: calc(25px + 39 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs40 {
    font-size: calc(21px + 32.3 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs40 {
    font-size: calc(21px + 19 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs32 {
    font-size: calc(16px + 27.2 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs32 {
    font-size: calc(16px + 16 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs18 {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs18 {
    font-size: calc(14px + 4 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs16 {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs16 {
    font-size: calc(14px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs14 {
    font-size: calc(14px + 0 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs14 {
    font-size: calc(14px + 0 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs12 {
    font-size: calc(12px + 0 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs12 {
    font-size: calc(12px + 0 * (100vw / 1980));
  }
}

.f-sec {
  font-family: "Rajdhani", sans-serif;
}

.bold {
  font-weight: 900;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.center {
  text-align: center;
}

/* ================================= PRESETS ================================= */
.page {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: #F2E84B !important;
  transition: 0.2s;
}

b,
strong {
  color: #F2E84B !important;
  font-weight: 600;
}

button {
  outline: 0;
}

p {
  line-height: 1.4;
}

small {
  display: inline-block;
}

/* ================================= MAIN STYLE ================================= */
.container,
.container-fluid {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  z-index: 1;
  position: relative;
}

.container {
  max-width: 1200px;
}

.coneriner-fluid {
  max-width: 100%;
}

.logo {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 15px;
  text-transform: uppercase;
  transition: 0.2s;
  font-weight: 700;
}

.icon {
  height: auto;
  width: auto;
  border-radius: 0;
}

.bg-img {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 0;
}

p {
  line-height: 1.6;
}

/* ================================= GRID ================================= */
.grid-col__2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  gap: 15px;
}
.grid-col__3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
  gap: 15px;
}
.grid-col__4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
  gap: 15px;
}
.grid-col__fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)) !important;
  gap: 35px 45px;
}

/* ================================= SLICK ================================= */
.slick-slide {
  margin-right: 10px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  list-style-type: none;
}
.slick-dots li {
  margin-right: 15px;
}
.slick-dots button {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 100%;
  background-color: #000;
  border: none;
  text-indent: -9999px;
}
.slick-dots li.slick-active button {
  background-color: #4F7419;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  margin-right: 10px;
  margin-left: 1px;
}

.slick-list {
  margin: 0 -10px;
  padding: 0 !important;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  cursor: pointer;
}

.slick-prev {
  left: -60px;
}

.slick-next {
  right: -60px;
}

@keyframes wobble {
  16.65% {
    transform: translateY(8px);
  }
  33.3% {
    transform: translateY(-6px);
  }
  49.95% {
    transform: translateY(4px);
  }
  66.6% {
    transform: translateY(-2px);
  }
  83.25% {
    transform: translateY(1px);
    100% {
      transform: translateY(0);
    }
  }
}
.wobble {
  animation: wobble 2s infinite;
}

/* ================================= VARIABLES ================================= */
@font-face {
  font-family: StretchPro;
  src: url(../fonts/StretchPro.otf);
}
@media (max-width: 767px) {
  .h1 {
    font-size: calc(28px + 98.6 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h1 {
    font-size: calc(28px + 58 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h2 {
    font-size: calc(24px + 30.6 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h2 {
    font-size: calc(24px + 18 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h3 {
    font-size: calc(24px + 1.7 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h3 {
    font-size: calc(24px + 1 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h4 {
    font-size: calc(21px + 5.1 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h4 {
    font-size: calc(21px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h5 {
    font-size: calc(18px + 5.1 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h5 {
    font-size: calc(18px + 3 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .h6 {
    font-size: calc(16px + 3.4 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .h6 {
    font-size: calc(16px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs64 {
    font-size: calc(25px + 66.3 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs64 {
    font-size: calc(25px + 39 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs40 {
    font-size: calc(21px + 32.3 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs40 {
    font-size: calc(21px + 19 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs32 {
    font-size: calc(16px + 27.2 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs32 {
    font-size: calc(16px + 16 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs18 {
    font-size: calc(14px + 6.8 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs18 {
    font-size: calc(14px + 4 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs16 {
    font-size: calc(14px + 3.4 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs16 {
    font-size: calc(14px + 2 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs14 {
    font-size: calc(14px + 0 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs14 {
    font-size: calc(14px + 0 * (100vw / 1980));
  }
}

@media (max-width: 767px) {
  .fs12 {
    font-size: calc(12px + 0 * ((100vw - 320px) / 1980));
  }
}
@media (min-width: 767px) {
  .fs12 {
    font-size: calc(12px + 0 * (100vw / 1980));
  }
}

.f-sec {
  font-family: "Rajdhani", sans-serif;
}

.bold {
  font-weight: 900;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: StretchPro;
  background: #000;
  color: #FFFFFF;
}

section {
  margin-bottom: 60px;
}

.burger {
  display: none;
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 80px;
  filter: url(#gooeyness);
}
.burger svg {
  position: absolute;
  width: 80px;
  height: 80px;
}
.burger__line {
  fill: none;
  stroke: #fff;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50%;
  stroke-width: 5.5px;
  transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
}
.burger__line_1 {
  stroke-dasharray: 40 40;
}
.burger__line_2 {
  stroke-dasharray: 21 39;
}
.burger__line_3 {
  stroke-dasharray: 21 39;
}
.burger__line_4 {
  stroke-dasharray: 40 40;
}
.burger__close {
  transition: transform 400ms 50ms;
  transform: scale(0);
  transition: transform 400ms;
}

.burger.burger_active .burger__line {
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
}
.burger.burger_active .burger__line_1 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}
.burger.burger_active .burger__line_2 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}
.burger.burger_active .burger__line_3 {
  stroke-dasharray: 5 39;
  stroke-dashoffset: -37px;
}
.burger.burger_active .burger__line_4 {
  stroke-dasharray: 1 40;
  stroke-dashoffset: -33px;
}
.burger.burger_active .burger__close {
  transition: transform 400ms 50ms;
}

.burger_active .burger__close {
  transform: scale(1);
}

.header {
  position: sticky;
  top: 0;
  background: #000;
  z-index: 99;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  padding: 10px 0;
}

.logo {
  color: #FFFFFF;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.nav__link {
  color: #FFFFFF;
}
.nav__network {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  color: #FFFFFF;
  font-family: "Rajdhani", sans-serif;
  align-items: center;
}

.network__icon {
  max-width: 20px;
}
.network__link {
  color: #FFFFFF;
  font-weight: bold;
}

.main-screen__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(80vh - 67px);
  position: relative;
  padding: 20px;
}
.main-screen__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 45%;
}
.main-screen__title {
  color: #FFFFFF;
  text-transform: uppercase;
}
.main-screen__descr {
  font-family: "Rajdhani", sans-serif;
}
.main-screen__bg {
  -o-object-position: 75%;
     object-position: 75%;
  width: 50%;
  right: 0;
  left: initial;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags__tag {
  padding: 5px 10px;
  border-radius: 20px;
  background: #383838;
  color: #FFFFFF;
  opacity: 0.7;
  font-family: "Rajdhani", sans-serif;
}
.tags__tag:hover {
  background: #F2E84B;
  color: #383838 !important;
  opacity: 1;
}

.ticker__list {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.ticker__item {
  color: #FFFFFF;
}
.works__title {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #FFFFFF;
}
.works__inner {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 20px;
}
.work__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work__cover {
  width: 100%;
}
.work__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
}
.work__link:hover::after {
  transform: translate(3px, -3px);
  transition: 0.3s;
}
.work__link::after {
  content: url(../icons/arrow-diag.svg);
  transition: 0.3s;
}
.work:nth-child(2n) .work__link {
  align-self: end;
}
.work:nth-child(2n) .work__cover {
  order: -1;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .nav__list {
    display: none;
  }
  .nav__network {
    display: flex;
  }
  .main-screen__wrapper {
    gap: 30px;
  }
  .main-screen__inner {
    max-width: 100%;
  }
  .main-screen__bg {
    position: static;
    width: 100%;
  }
  .work {
    grid-template-columns: 1fr;
  }
  .work:nth-child(2n) .work__cover {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */