
/* ================================= DOCUMENTATION ================================= */
@import reset

@import fonts

/* ================================= PRESETS ================================= */
@import presets

/* ================================= VARIABLES ================================= */
@import variabless

html
    scroll-behavior: smooth

body
    font-family: StretchPro
    background: #000
    color: $color-primary

section
    margin-bottom: 60px

// BURGEG
.burger
    display: none
    position: relative
    cursor: pointer
    width: 60px
    height: 60px
    filter: url(#gooeyness)
    z-index: 99
    svg
        position: absolute
        width: 60px
        height: 60px
    &__line
        fill: none
        stroke: #fff
        stroke-width: 6px
        stroke-linecap: round
        stroke-linejoin: round
        transform-origin: 50%
        stroke-width: 5.5px
        // transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms
        transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms
        &_1
            stroke-dasharray: 40 40
        &_2
            stroke-dasharray: 19 39
        &_3
            stroke-dasharray: 19 39
        &_4
            stroke-dasharray: 40 40
    &__close
        transition: transform 400ms 50ms
        transform: scale(0)
        transition: transform 400ms

.burger.burger_active
    .burger__line
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms
    .burger__line_1
        stroke-dasharray: 1 40
        stroke-dashoffset: -33px

    .burger__line_2
        stroke-dasharray: 5 39
        stroke-dashoffset: -39px

    .burger__line_3
        stroke-dasharray: 5 39
        stroke-dashoffset: -37px

    .burger__line_4
        stroke-dasharray: 1 40
        stroke-dashoffset: -33px
    .burger__close
        transition: transform 400ms 50ms
.burger_active
    .burger__close
        transform: scale(1)
    // .burger__line_1,
    // .burger__line_2,
    // .burger__line_3,
    // .burger__line_4,
    //     opacity: 0
// HEADER
.header
    position: sticky
    top: 0
    background: #000
    z-index: 99
    &__nav
        display: flex
        align-items: center
        gap: 20px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid $color-primary
        padding: 10px 0
    &__mobile
        &-menu
            display: none
.logo
    color: $color-primary
.nav
    &__list
        display: flex
        justify-content: space-between
        gap: 20px
    &__link
        color: $color-primary
    &__network
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 10px
        color: $color-primary
        font-family: $font-secondary
        align-items: center
.network
    &__icon
        max-width: 20px
    &__link
        color: $color-primary
        font-weight: bold
.main-screen
    &__wrapper
        display: flex
        flex-direction: column
        justify-content: center
        min-height: calc(80vh - 67px)
        position: relative
        padding: 20px
    &__inner
        display: flex
        flex-direction: column
        gap: 30px
        max-width: 45%
    &__title
        color: $color-primary
        text-transform: uppercase
    &__descr
        font-family: $font-secondary
    &__bg
        object-position: 75%
        width: 50%
        right: 0
        left: initial

.tags
    display: flex
    flex-wrap: wrap
    gap: 10px
    &__tag
        padding: 5px 10px
        border-radius: 20px
        background: $color-secondary
        color: $color-primary
        opacity: 0.7
        font-family: $font-secondary
        &:hover
            background: $color-accent
            color: $color-secondary !important
            opacity: 1

.ticker
    &__list
        display: flex
        gap: 20px
        padding: 20px 0
    &__item
        color: $color-primary
        &::after
            // content: url('../img/png/Hainz Studio/PNG/grv_26.png')
            // width: 10px
            // height: 10px
            // object-fit: contain

.works
    &__title
        display: block
        padding-bottom: 20px
        margin-bottom: 20px
        border-bottom: 1px solid $color-primary
    &__inner
        display: grid
        grid-template-columns: repeat(1, 1fr)
        gap: 20px

.work
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 10px
    border-bottom: 1px solid $color-primary
    padding-bottom: 20px
    &__info
        display: flex
        flex-direction: column
        justify-content: space-between
    &__cover
        width: 100%
    &__link
        display: flex
        align-items: center
        gap: 10px
        color: $color-primary
        &:hover
            &::after
                transform: translate(3px, -3px)
                transition: 0.3s
        &::after
            content: url(../icons/arrow-diag.svg)
            transition: 0.3s
    &:nth-child(2n)
        .work__link
            align-self: end
        .work__cover
            order: -1

@media screen and (max-width: 768px)
    .burger
        display: block
    .nav
        &__list
            transition: 0.3s
            box-sizing: border-box
            position: fixed
            width: 100%
            z-index: 94
            background: #000
            left: 0
            top: 81px
            flex-direction: column
            height: 0
            overflow: hidden
            &_active
                transform: translateY(0)
                z-index: -1
                padding: 30px
                min-height: 20vh
                transition: 0.3s
                box-sizing: content-box
        &__network
            display: flex
    .main-screen
        &__wrapper
            gap: 30px
        &__inner
            max-width: 100%
        &__bg
            position: static
            width: 100%
    .work
        grid-template-columns: 1fr
        &:nth-child(2n)
            .work__cover
                order: 1
